.mainMenu {
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  width: 97%;
  top: 2%;
  left: 1.5%;
  cursor: pointer;

  section {
    width: 22%;
    border: 1px solid white;
    padding: 32px;
    color: white;
    font-size: 1.7rem;
    background-color: #156135;
  }
}

.mainMenuBackground {
  border: 1px solid red;
  width: 98%;
  padding-top: 5%;
  background-color: #253eac;
  z-index: 5;
  position: absolute;
  left: 0px;
}

.menuSection {
  width: 43vw;
  height: 80vh;
  position: absolute;
  right: 0;
  top: 166px;
}

.menuOne,
.menuTwo,
.menuThree,
.menuFour {
  background-color: white;

  .innerSection {
  }
}

.menuOne {
  border: 2px solid red;
}

.menuTwo {
  border: 2px solid blue;
}

.menuThree {
  border: 2px solid green;
}

.menuFour {
  border: 2px solid tan;
}
