@keyframes backgroundSlide {
  0% {
    background-position-y: 0;
  }
  40% {
    background-position-y: -100px;
  }
  60% {
    background-position-y: 100px;
  }
}

.battleScene {
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 0;

  canvas {
    width: 100%;
    height: 50vh;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: 0;
    background: url('../../images/m51_1_darkest.jpg') no-repeat center center;
    background-size: cover;
    animation: backgroundSlide 180s linear infinite;
  }
}
